h1 {
  text-align: center;
  font-size: 12vh;
  background-color: #E7EAF0;
  font-family: Majel;
  margin-top: 1vh;
}

@font-face {
  font-family: Majel;
  src: url('./images:font/Majel.otf');
}

.gameBoard {
  position: absolute;
  width: 755.92px;
  height: 569.94px;
  overflow: hidden;
  margin-left: 30vw;
  /*margin-top: 2vh;*/
  margin-bottom: 2vh;
  background-color: #E7EAF0;
}

.board {
  top: -963.25px;
  left: -635px;
  position: absolute;
  background-size: -100%;
  zoom: .4;
}

.gamePos {
  position: relative;
}

.gameFunctions {
  position: relative;
}

.start {
  position: absolute;
  width: 214px;
  height: 85px;
  overflow: hidden;
  margin-left: 3vw;
  /*margin-top: 60vh;*/
}

.startimg {
  top: -132px;
  left: -690px;
  position: absolute;
  background-size: -100%;
  zoom: .4;
}

.gameFunctions {
  position: absolute;
  width: 185px;
  height: 263px;
  overflow: hidden;
  margin-left: 4vw;
  /*margin-top: 60vh;*/
}

.resetimg {
  top: -336px;
  left: -188px;
  position: absolute;
  background-size: -100%;
  zoom: .4;
}

.tokens {
  position: absolute;
  width: 70px;
  height: 70px;
  overflow: hidden;
  margin-left: 84.5vw;
  margin-top: 60vh;
}

.black {
  top: -131px;
  left: -404px;
  position: absolute;
  zoom: .4;
}

/*.red {
  top: -131px;
  left: -190px;
  position: absolute;
  zoom: .4;
}*/

.arrow1:hover {
  top: -780px;
  left: -1852px;
  position: absolute;
  zoom: .4;
}

.arrowDiv1 {
  position: absolute;
  width: 124px;
  height: 70px;
  overflow: hidden;
  margin-left: 84.5vw;
  margin-top: 5vh;
}

body {
  margin: 40px;
  background-color: #E7EAF0;
}

.instructions-warning {
  position: absolute;
  width: 383px;
  height: 212px;
  overflow: hidden;
  margin-left: 2.3vw;
  margin-top: 300px;
}

.instImg {
  top: -131px;
  left: -1339px;
  position: absolute;
  background-size: -100%;
  zoom: .4;
}

/*footer {
  margin-top: 100vh;
}*/

/*.container {
  display: grid;
  grid-template-columns: repeat(2, [col] 150px);
  grid-template-rows: repeat(5, [row] 100px );
  grid-gap: 30px;
  background-color: white;
  color: #444;
}*/

/*.whosTurn {
  background-color: grey;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  grid-row: row;
  grid-column: col / span 2;
}

.start {
  background-color: grey;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  grid-row: row 2;
}

.warning {
  background-color: grey;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  grid-row: row 3;
}

.gameFunctions {
  background-color: grey;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  grid-row: row 4;
  grid-column: col / span 2;
}*/
